<%- include("partials/header.ejs") %>
<!-- Page Header-->
<header class="masthead text-center d-flex align-items-center justify-content-center" style="background-image: url('assets/img/about-bg.jpg'); min-height: 100vh;">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7 text-center">
                <div class="site-heading">
                    <h1 class="display-4 text-warning">About</h1>
                </div>
                <div class="text-white p-4 rounded shadow">
                    <p style="text-align: justify;">
                        Welcome to my Capstone Blog! This project deepens my web development knowledge, focusing on EJS and Express.js. Here, I build dynamic, responsive web applications.
                    </p>
                    <p style="text-align: justify;">
                        This blog showcases my progress and the challenges I've faced. My goal is to become a skilled developer by continually improving my abilities through these experiences.
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->

<!-- Footer-->
<%- include("partials/footer.ejs") %>
