<%- include("partials/header.ejs") %>

        <!-- Page Header-->
        <header class="masthead d-flex align-items-center" style="background-image: url('assets/img/home-bg.jpg'); min-height: 100vh;">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7 text-center">
                        <div class="site-heading">
                            <h1><%= titlePost %></h1>
                            <span class="subheading"></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
        
        <!-- Main Content-->
        
                <!-- <div class="d-flex col-md-10 col-lg-8 col-xl-12"> -->
                    <!-- Post preview-->
                    <!-- <div class="post-preview">
                        <a href="post">
                            <h2 class="post-title"></h2>
                            <h3 class="post-subtitle"></h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on September 24, 2023
                        </p>
                    </div> -->
                    <!-- Divider-->
                    <!-- <hr class="my-4" /> -->
                    <!-- Post preview-->
                    <!-- <div class="post-preview">
                        <a href="post"><h2 class="post-title">I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.</h2></a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on September 18, 2023
                        </p>
                    </div> -->
                    <!-- Divider-->
                    <!-- <hr class="my-4" /> -->
                    <!-- Post preview-->
                    <!-- <div class="post-preview">
                        <a href="post">
                            <h2 class="post-title">Science has not yet mastered prophecy</h2>
                            <h3 class="post-subtitle">We predict too much for the next year and yet far too little for the next ten.</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on August 24, 2023
                        </p>
                    </div> -->
                    <!-- Divider-->
                    <!-- <hr class="my-4" /> -->
                    <!-- Post preview-->
                    <!-- <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">Failure is not an option</h2>
                            <h3 class="post-subtitle">Many say exploration is part of our destiny, but it’s actually our duty to future generations.</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on July 8, 2023
                        </p>
                    </div> -->
                    <!-- Divider-->
                    <!-- <hr class="my-4" /> -->
                    <!-- Pager-->
                    <!-- <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div> -->
        <section class="bg-gradient wrapper">
            <div class="container">
                <div class="row">
                    <div class="col text-center mb-5">
                        <h1 class="display-4 content-header">Blog Post</h1>
                        <p class="lead">Lorem ipsum dolor sit amet at enim hac integer volutpat maecenas pulvinar.</p>
                    </div>
                </div>
                <div id="card-holder" class="container mt-4">
                    <div class="row" id="card-container">
                        <!-- Cards will be appended here -->
                    </div>
                </div>
            </div>
        </section>
        
          

          
          
        <!-- Footer-->
<%- include("partials/footer.ejs") %>